*.lo
*.a
*.o
.deps/
Makefile
Makefile.in
/INSTALL
/aclocal.m4
/autom4te.cache/
/config.guess*
/config.log
/config.status
/config.sub*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/mkinstalldirs
/po/Makefile.in.in
/po/POTFILES
/po/*.gmo
/po/stamp-it
/po/.intltool-merge-cache

/transmission-gtk.spec

.pc
*-stamp

cli/transmission-cli

daemon/transmission-daemon
daemon/transmission-remote

intltool-*
gtk/tr-core-dbus.h
gtk/transmission-gtk.desktop
gtk/transmission-gtk

libtransmission/*-test
libtransmission/test-peer-id
libtransmission/version.h

utils/transmission-create
utils/transmission-edit
utils/transmission-show

third-party/miniupnp/miniupnpcstrings.h

debian/files
debian/stamp-patched
debian/tmp/
debian/transmission-cli/
debian/transmission-common/
debian/transmission-daemon/
debian/transmission-gtk/
debian/transmission/
debian/*.substvars
debian/*.debhelper*
